#deck {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    text-align: center;
    margin: 0 auto;
}

#initialSetting {
    margin: 19px;
    width: 500px;
}

input[type=number] {
    width: 200px
}